<%- include("partials/header") %>

<h1 style="text-align: center;">New Campground route</h1>

<div style="width: 30%; margin: 30px auto;">    
    <form class="container" action="/campgrounds" method="POST">
        <div class="row">
            <div class="col form-group">
                <input type="text" class="form-control" placeholder="name" name="newCampground">
            </div>
        </div>
        <div class="row">
            <div class="col form-group">
                <input type="text" class="form-control" placeholder="image url" name="imageURL">
            </div>
        </div>
        <button type="button" class="btn btn-lg btn-primary btn-block">Submit</button>
        <a href="/campgrounds">Back</a>
    </form>
</div>

<%- include("partials/footer") %>