<h1>love page</h1>
<!-- <% include partials/header %>

<h1>You fell in love with: <%= thingVar %></h1>

<% if(thingVar.toLowerCase() === 'rusty') {%>
<h3>Good choice, Rusty is the best</h3>
<% } else { %>
    <h3>Shoulda chose Rusty</h3>
    <% } %>

    <% include partials/footer %> -->