<h2>hey yall</h2>

<!-- <% include partials/header.ejs %>

<h1>The Posts page</h1>

<% posts.forEach((post) => { %>
    <li><%= post[i].title %> - <%= post[i].author %></li>

<% }) %>

<% include partials/footer.ejs %> -->