<%- include("partials/header") %>

<h1>New Campground route</h1>

<form class="container" action="/campgrounds" method="POST">
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="name" name="newCampground">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="image url" name="imageURL">
        </div>
    </div>
    <button>Submit</button>
</form>
<a href="/campgrounds">Back</a>

<%- include("partials/footer") %>